Flask
Flask-Bootstrap
Flask-Mail
Flask-WTF
#GnuPGInterface
Jinja2
MarkupSafe
SQLAlchemy
WTForms
Werkzeug
#apt-xapian-index
argparse
blinker
chardet
#command-not-found
## FIXME: could not find svn URL in dependency_links for this package:
distribute
itsdangerous
language-selector
python-apt
python-debian
redis
ufw
wsgiref
